app/src/main/resources/wsdl/PackingLine.1cws_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.aplix.ru/PackingLine/1.0/ws/messages"
	xmlns:model="http://www.aplix.ru/PackingLine/1.0/ws/model" targetNamespace="http://www.aplix.ru/PackingLine/1.0/ws/messages" attributeFormDefault="unqualified"
	elementFormDefault="qualified">

	<xs:import namespace="http://www.aplix.ru/PackingLine/1.0/ws/model" schemaLocation="PackingLine.1cws_schema1.xsd" />

	<!-- ********** Operation requests and responses ********************** -->

	<xs:element name="GetOperator">
		<xs:complexType>
			
		</xs:complexType>
	</xs:element>

	<xs:element name="GetOperatorResponse">
		<xsd:annotation>
			<xsd:documentation>Если оператор по указанному идентификатору не найден, то свойство Operator в ответе должно отсутствовать.</xsd:documentation>
		</xsd:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="operator" type="model:Operator" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetCustomer">
		<xs:complexType>
			<xsd:sequence>
				<xs:element name="customerId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Логин или идентификатор заказчика</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xsd:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetCustomerResponse">
		<xsd:annotation>
			<xsd:documentation>Если заказчик по указанному идентификатору не найден, то свойство Customer в ответе должно отсутствовать.</xsd:documentation>
		</xsd:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customer" type="model:Customer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SetOperatorActivity">
		<xs:complexType>
			<xsd:sequence>
				<xs:element name="isActive" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Статус работы (1) или простоя (0).</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xsd:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="FindTag">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tagId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор метки</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="FindTagResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tag" type="model:Tag">
					<xs:annotation>
						<xs:documentation>Объект, которому принадлежит идентификатор метки</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AddIncomingToOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="orderId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор заказа</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="incoming" type="model:Incoming">
					<xs:annotation>
						<xs:documentation>Объект Поступление</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AddIncomingToOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="index" type="xs:int">
					<xs:annotation>
						<xs:documentation>Номер (а точнее индекс, т.е. начиная с нуля) данного поступления в списке поступлений заказа или -1 в случае ошибки</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteIncomingFromOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="orderId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор заказа</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="incomingId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор поступления</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteIncomingFromOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Результат операции</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CarryOutOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="orderId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор заказа</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CarryOutOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Результат операции</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="orderId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор заказа</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Результат операции</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AddContainer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="container" type="model:Container">
					<xs:annotation>
						<xs:documentation>Объект контейнер</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AddContainerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Результат операции</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateContainer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="container" type="model:Container">
					<xs:annotation>
						<xs:documentation>Объект контейнер</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateContainerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Результат операции</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AddBoxContainers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="boxTypeId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Тип коробки, с которым требуется связать данные маркеры</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tag" type="model:Tag" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Список маркеров</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AddBoxContainersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Результат операции</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetBoxType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="boxTypeId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор типа коробки</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetBoxTypeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="boxType" type="model:BoxType">
					<xs:annotation>
						<xs:documentation>Тип коробки</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetBoxCount">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="boxTypeId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Уникальный идентификатор типа коробки</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetBoxCountResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:int">
					<xs:annotation>
						<xs:documentation>Количество пустых коробок такого же типа в зоне упаковки</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GenerateTagsForContainers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="count" type="xs:int">
					<xs:annotation>
						<xs:documentation>Количество генерируемых маркеров</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GenerateTagsForContainersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tag" type="model:Tag" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Список сгенерированных маркеров</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xsd:element name="GenerateTagsForIncomings">
		<xsd:complexType>
			<xsd:sequence>
				<xs:element name="customerCode" type="xs:string">
					<xs:annotation>
						<xs:documentation>Идентификатор заказчика, для которого резервируются маркеры</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="count" type="xs:int">
					<xs:annotation>
						<xs:documentation>Количество генерируемых маркеров</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GenerateTagsForIncomingsResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xs:element name="tag" type="model:Tag" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Список сгенерированных маркеров</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GatherInfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="containerId" type="xsd:string">
					<xs:annotation>
						<xs:documentation>Идентификатор контейнера</xs:documentation>
					</xs:annotation>
				</xsd:element>
				<xsd:element name="field" type="xsd:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Список названий полей, для которых нужно вернуть значения</xs:documentation>
					</xs:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GatherInfoResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="field" type="model:Field" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Список полей с данными</xs:documentation>
					</xs:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xs:schema>

