app/src/main/resources/wsdl/PackingLine.1cws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.aplix.ru/PackingLine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.aplix.ru/PackingLine" name="PackingLine" targetNamespace="http://www.aplix.ru/PackingLine">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs1="http://www.aplix.ru/PackingLine" targetNamespace="http://www.aplix.ru/PackingLine" attributeFormDefault="unqualified" elementFormDefault="qualified">
			<xs:complexType name="Address">
				<xs:sequence>
					<xs:element name="Index" type="xs:string" nillable="true"/>
					<xs:element name="Region" type="xs:string" nillable="true"/>
					<xs:element name="District" type="xs:string" nillable="true"/>
					<xs:element name="City" type="xs:string" nillable="true"/>
					<xs:element name="Locality" type="xs:string" nillable="true"/>
					<xs:element name="Street" type="xs:string" nillable="true"/>
					<xs:element name="Home" type="xs:string" nillable="true"/>
					<xs:element name="Housing" type="xs:string" nillable="true"/>
					<xs:element name="Apartment" type="xs:string" nillable="true"/>
					<xs:element name="AdditionalInformation" type="xs:string" nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="BankingDetails">
				<xs:sequence>
					<xs:element name="BIK" type="xs:string"/>
					<xs:element name="BankName" type="xs:string"/>
					<xs:element name="CorrespondentAccount" type="xs:string"/>
					<xs:element name="CurrentAccount" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="BoxType">
				<xs:sequence>
					<xs:element name="packingSize" type="tns:PackingSize"/>
					<xs:element name="id" type="xs:string"/>
					<xs:element name="supplierName" type="xs:string"/>
					<xs:element name="cardboardGrade" type="xs:string"/>
					<xs:element name="emptyWeight" type="xs:float"/>
					<xs:element name="cost" type="xs:float"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Container">
				<xs:complexContent>
					<xs:extension base="tns:Tag">
						<xs:sequence>
							<xs:element name="packingSize" type="tns:PackingSize"/>
							<xs:element name="postId" type="xs:string"/>
							<xs:element name="boxTypeId" type="xs:string"/>
							<xs:element name="packingType" type="tns:PackingType"/>
							<xs:element name="totalWeight" type="xs:float"/>
							<xs:element name="date" type="xs:dateTime"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Customer">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
					<xs:element name="name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Field">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FieldList">
				<xs:sequence>
					<xs:element name="Items" type="tns:Field" maxOccurs="2147483647"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Incoming">
				<xs:complexContent>
					<xs:extension base="tns:Tag">
						<xs:sequence>
							<xs:element name="orderId" type="xs:string"/>
							<xs:element name="photoId" type="xs:string" nillable="true"/>
							<xs:element name="date" type="xs:dateTime"/>
							<xs:element name="weight" type="xs:float"/>
							<xs:element name="contentDescription" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Operator">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
					<xs:element name="name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Order">
				<xs:complexContent>
					<xs:extension base="tns:Tag">
						<xs:sequence>
							<xs:element name="incoming" type="tns:Incoming" nillable="true" minOccurs="0" maxOccurs="2147483647"/>
							<xs:element name="post" type="tns:Post" minOccurs="0" maxOccurs="2147483647"/>
							<xs:element name="clientName" type="xs:string"/>
							<xs:element name="deliveryMethod" type="xs:string"/>
							<xs:element name="deliveryAddress" type="xs:string"/>
							<xs:element name="customerName" type="xs:string"/>
							<xs:element name="date" type="xs:dateTime"/>
							<xs:element name="totalIncomings" type="xs:int"/>
							<xs:element name="carriedOutAndClosed" type="xs:boolean"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="PackingSize">
				<xs:sequence>
					<xs:element name="length" type="xs:float"/>
					<xs:element name="height" type="xs:float"/>
					<xs:element name="width" type="xs:float"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="PackingType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="BOX"/>
					<xs:enumeration value="PACKET"/>
					<xs:enumeration value="PAPER"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ParcelInfo">
				<xs:sequence>
					<xs:element name="Recipient" type="tns:Recipient" nillable="true"/>
					<xs:element name="Shipper" type="tns:Shipper" nillable="true"/>
					<xs:element name="BarCode" type="xs:string" nillable="true"/>
					<xs:element name="PostOffice" type="xs:string" nillable="true"/>
					<xs:element name="DeclaredCost" type="xs:float" nillable="true"/>
					<xs:element name="AmountToBePaid" type="xs:float" nillable="true"/>
					<xs:element name="Weight" type="xs:float" nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Post">
				<xs:complexContent>
					<xs:extension base="tns:Tag">
						<xs:sequence>
							<xs:element name="container" type="tns:Container"/>
							<xs:element name="incoming" type="tns:Incoming" maxOccurs="2147483647"/>
							<xs:element name="postType" type="tns:PostType"/>
							<xs:element name="orderId" type="xs:string"/>
							<xs:element name="date" type="xs:dateTime"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="PostType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="FIRSTCLASS"/>
					<xs:enumeration value="PARCEL"/>
					<xs:enumeration value="BOOKPOST"/>
					<xs:enumeration value="LETTER"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Recipient">
				<xs:sequence>
					<xs:element name="Name" type="xs:string"/>
					<xs:element name="Address" type="tns:Address"/>
					<xs:element name="Phone"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Shipper">
				<xs:sequence>
					<xs:element name="Name" type="xs:string"/>
					<xs:element name="Address" type="tns:Address"/>
					<xs:element name="BankingDetails" type="tns:BankingDetails"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="StringList">
				<xs:sequence>
					<xs:element name="Items" type="xs:string" maxOccurs="2147483647"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Tag">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TagList">
				<xs:sequence>
					<xs:element name="Items" type="tns:Tag" maxOccurs="2147483647"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="TagType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="INCOMING"/>
					<xs:enumeration value="ORDER"/>
					<xs:enumeration value="POST"/>
					<xs:enumeration value="CONTAINER"/>
					<xs:enumeration value="UNKNOWN"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="Echo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Text" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EchoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetOperatorActivity">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="isActive" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetOperatorActivityResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetParcelInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Marker" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetParcelInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:ParcelInfo" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetOperator">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetOperatorResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Operator"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindTag">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tagId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindTagResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:TagType" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetCustomer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="customerId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetCustomerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Customer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindIncoming">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="incomingId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindIncomingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Incoming"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="orderId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindOrderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Order"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindPost">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="postId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindPostResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Post"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindContainer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="containerId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindContainerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Container"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddIncomingToOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="orderId" type="xs:string"/>
						<xs:element name="incoming" type="tns:Incoming"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddIncomingToOrderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteIncomingFromOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="orderId" type="xs:string"/>
						<xs:element name="incoming" type="tns:Incoming"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteIncomingFromOrderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CarryOutOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="orderId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CarryOutOrderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="orderId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteOrderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddContainer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="container" type="tns:Container"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddContainerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateContainer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="container" type="tns:Container"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateContainerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddBoxContainers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="boxTypeId" type="xs:string"/>
						<xs:element name="tag" type="tns:TagList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddBoxContainersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBoxType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="boxTypeId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBoxTypeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:BoxType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBoxCount">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="boxTypeId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBoxCountResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateTagsForContainers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="count" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateTagsForContainersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:TagList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateTagsForIncomings">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="customerCode" type="xs:string"/>
						<xs:element name="count" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateTagsForIncomingsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:TagList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GatherInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="containerId" type="xs:string"/>
						<xs:element name="field" type="tns:StringList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GatherInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:FieldList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="EchoRequestMessage">
		<part name="parameters" element="tns:Echo"/>
	</message>
	<message name="EchoResponseMessage">
		<part name="parameters" element="tns:EchoResponse"/>
	</message>
	<message name="SetOperatorActivityRequestMessage">
		<part name="parameters" element="tns:SetOperatorActivity"/>
	</message>
	<message name="SetOperatorActivityResponseMessage">
		<part name="parameters" element="tns:SetOperatorActivityResponse"/>
	</message>
	<message name="GetParcelInfoRequestMessage">
		<part name="parameters" element="tns:GetParcelInfo"/>
	</message>
	<message name="GetParcelInfoResponseMessage">
		<part name="parameters" element="tns:GetParcelInfoResponse"/>
	</message>
	<message name="GetOperatorRequestMessage">
		<part name="parameters" element="tns:GetOperator"/>
	</message>
	<message name="GetOperatorResponseMessage">
		<part name="parameters" element="tns:GetOperatorResponse"/>
	</message>
	<message name="FindTagRequestMessage">
		<part name="parameters" element="tns:FindTag"/>
	</message>
	<message name="FindTagResponseMessage">
		<part name="parameters" element="tns:FindTagResponse"/>
	</message>
	<message name="GetCustomerRequestMessage">
		<part name="parameters" element="tns:GetCustomer"/>
	</message>
	<message name="GetCustomerResponseMessage">
		<part name="parameters" element="tns:GetCustomerResponse"/>
	</message>
	<message name="FindIncomingRequestMessage">
		<part name="parameters" element="tns:FindIncoming"/>
	</message>
	<message name="FindIncomingResponseMessage">
		<part name="parameters" element="tns:FindIncomingResponse"/>
	</message>
	<message name="FindOrderRequestMessage">
		<part name="parameters" element="tns:FindOrder"/>
	</message>
	<message name="FindOrderResponseMessage">
		<part name="parameters" element="tns:FindOrderResponse"/>
	</message>
	<message name="FindPostRequestMessage">
		<part name="parameters" element="tns:FindPost"/>
	</message>
	<message name="FindPostResponseMessage">
		<part name="parameters" element="tns:FindPostResponse"/>
	</message>
	<message name="FindContainerRequestMessage">
		<part name="parameters" element="tns:FindContainer"/>
	</message>
	<message name="FindContainerResponseMessage">
		<part name="parameters" element="tns:FindContainerResponse"/>
	</message>
	<message name="AddIncomingToOrderRequestMessage">
		<part name="parameters" element="tns:AddIncomingToOrder"/>
	</message>
	<message name="AddIncomingToOrderResponseMessage">
		<part name="parameters" element="tns:AddIncomingToOrderResponse"/>
	</message>
	<message name="DeleteIncomingFromOrderRequestMessage">
		<part name="parameters" element="tns:DeleteIncomingFromOrder"/>
	</message>
	<message name="DeleteIncomingFromOrderResponseMessage">
		<part name="parameters" element="tns:DeleteIncomingFromOrderResponse"/>
	</message>
	<message name="CarryOutOrderRequestMessage">
		<part name="parameters" element="tns:CarryOutOrder"/>
	</message>
	<message name="CarryOutOrderResponseMessage">
		<part name="parameters" element="tns:CarryOutOrderResponse"/>
	</message>
	<message name="DeleteOrderRequestMessage">
		<part name="parameters" element="tns:DeleteOrder"/>
	</message>
	<message name="DeleteOrderResponseMessage">
		<part name="parameters" element="tns:DeleteOrderResponse"/>
	</message>
	<message name="AddContainerRequestMessage">
		<part name="parameters" element="tns:AddContainer"/>
	</message>
	<message name="AddContainerResponseMessage">
		<part name="parameters" element="tns:AddContainerResponse"/>
	</message>
	<message name="UpdateContainerRequestMessage">
		<part name="parameters" element="tns:UpdateContainer"/>
	</message>
	<message name="UpdateContainerResponseMessage">
		<part name="parameters" element="tns:UpdateContainerResponse"/>
	</message>
	<message name="AddBoxContainersRequestMessage">
		<part name="parameters" element="tns:AddBoxContainers"/>
	</message>
	<message name="AddBoxContainersResponseMessage">
		<part name="parameters" element="tns:AddBoxContainersResponse"/>
	</message>
	<message name="GetBoxTypeRequestMessage">
		<part name="parameters" element="tns:GetBoxType"/>
	</message>
	<message name="GetBoxTypeResponseMessage">
		<part name="parameters" element="tns:GetBoxTypeResponse"/>
	</message>
	<message name="GetBoxCountRequestMessage">
		<part name="parameters" element="tns:GetBoxCount"/>
	</message>
	<message name="GetBoxCountResponseMessage">
		<part name="parameters" element="tns:GetBoxCountResponse"/>
	</message>
	<message name="GenerateTagsForContainersRequestMessage">
		<part name="parameters" element="tns:GenerateTagsForContainers"/>
	</message>
	<message name="GenerateTagsForContainersResponseMessage">
		<part name="parameters" element="tns:GenerateTagsForContainersResponse"/>
	</message>
	<message name="GenerateTagsForIncomingsRequestMessage">
		<part name="parameters" element="tns:GenerateTagsForIncomings"/>
	</message>
	<message name="GenerateTagsForIncomingsResponseMessage">
		<part name="parameters" element="tns:GenerateTagsForIncomingsResponse"/>
	</message>
	<message name="GatherInfoRequestMessage">
		<part name="parameters" element="tns:GatherInfo"/>
	</message>
	<message name="GatherInfoResponseMessage">
		<part name="parameters" element="tns:GatherInfoResponse"/>
	</message>
	<portType name="PackingLinePortType">
		<operation name="Echo">
			<input message="tns:EchoRequestMessage"/>
			<output message="tns:EchoResponseMessage"/>
		</operation>
		<operation name="SetOperatorActivity">
			<input message="tns:SetOperatorActivityRequestMessage"/>
			<output message="tns:SetOperatorActivityResponseMessage"/>
		</operation>
		<operation name="GetParcelInfo">
			<input message="tns:GetParcelInfoRequestMessage"/>
			<output message="tns:GetParcelInfoResponseMessage"/>
		</operation>
		<operation name="GetOperator">
			<input message="tns:GetOperatorRequestMessage"/>
			<output message="tns:GetOperatorResponseMessage"/>
		</operation>
		<operation name="FindTag">
			<input message="tns:FindTagRequestMessage"/>
			<output message="tns:FindTagResponseMessage"/>
		</operation>
		<operation name="GetCustomer">
			<input message="tns:GetCustomerRequestMessage"/>
			<output message="tns:GetCustomerResponseMessage"/>
		</operation>
		<operation name="FindIncoming">
			<input message="tns:FindIncomingRequestMessage"/>
			<output message="tns:FindIncomingResponseMessage"/>
		</operation>
		<operation name="FindOrder">
			<input message="tns:FindOrderRequestMessage"/>
			<output message="tns:FindOrderResponseMessage"/>
		</operation>
		<operation name="FindPost">
			<input message="tns:FindPostRequestMessage"/>
			<output message="tns:FindPostResponseMessage"/>
		</operation>
		<operation name="FindContainer">
			<input message="tns:FindContainerRequestMessage"/>
			<output message="tns:FindContainerResponseMessage"/>
		</operation>
		<operation name="AddIncomingToOrder">
			<input message="tns:AddIncomingToOrderRequestMessage"/>
			<output message="tns:AddIncomingToOrderResponseMessage"/>
		</operation>
		<operation name="DeleteIncomingFromOrder">
			<input message="tns:DeleteIncomingFromOrderRequestMessage"/>
			<output message="tns:DeleteIncomingFromOrderResponseMessage"/>
		</operation>
		<operation name="CarryOutOrder">
			<input message="tns:CarryOutOrderRequestMessage"/>
			<output message="tns:CarryOutOrderResponseMessage"/>
		</operation>
		<operation name="DeleteOrder">
			<input message="tns:DeleteOrderRequestMessage"/>
			<output message="tns:DeleteOrderResponseMessage"/>
		</operation>
		<operation name="AddContainer">
			<input message="tns:AddContainerRequestMessage"/>
			<output message="tns:AddContainerResponseMessage"/>
		</operation>
		<operation name="UpdateContainer">
			<input message="tns:UpdateContainerRequestMessage"/>
			<output message="tns:UpdateContainerResponseMessage"/>
		</operation>
		<operation name="AddBoxContainers">
			<input message="tns:AddBoxContainersRequestMessage"/>
			<output message="tns:AddBoxContainersResponseMessage"/>
		</operation>
		<operation name="GetBoxType">
			<input message="tns:GetBoxTypeRequestMessage"/>
			<output message="tns:GetBoxTypeResponseMessage"/>
		</operation>
		<operation name="GetBoxCount">
			<input message="tns:GetBoxCountRequestMessage"/>
			<output message="tns:GetBoxCountResponseMessage"/>
		</operation>
		<operation name="GenerateTagsForContainers">
			<input message="tns:GenerateTagsForContainersRequestMessage"/>
			<output message="tns:GenerateTagsForContainersResponseMessage"/>
		</operation>
		<operation name="GenerateTagsForIncomings">
			<input message="tns:GenerateTagsForIncomingsRequestMessage"/>
			<output message="tns:GenerateTagsForIncomingsResponseMessage"/>
		</operation>
		<operation name="GatherInfo">
			<input message="tns:GatherInfoRequestMessage"/>
			<output message="tns:GatherInfoResponseMessage"/>
		</operation>
	</portType>
	<binding name="PackingLineSoapBinding" type="tns:PackingLinePortType">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Echo">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:Echo"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetOperatorActivity">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:SetOperatorActivity"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetParcelInfo">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetParcelInfo"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOperator">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetOperator"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindTag">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindTag"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCustomer">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetCustomer"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindIncoming">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindIncoming"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindOrder">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindPost">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindPost"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindContainer">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindContainer"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddIncomingToOrder">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddIncomingToOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteIncomingFromOrder">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:DeleteIncomingFromOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CarryOutOrder">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:CarryOutOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteOrder">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:DeleteOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddContainer">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddContainer"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateContainer">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:UpdateContainer"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddBoxContainers">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddBoxContainers"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetBoxType">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetBoxType"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetBoxCount">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetBoxCount"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GenerateTagsForContainers">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GenerateTagsForContainers"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GenerateTagsForIncomings">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GenerateTagsForIncomings"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GatherInfo">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GatherInfo"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="PackingLineSoap12Binding" type="tns:PackingLinePortType">
		<soap12bind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Echo">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:Echo"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetOperatorActivity">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:SetOperatorActivity"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetParcelInfo">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetParcelInfo"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOperator">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetOperator"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindTag">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindTag"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCustomer">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetCustomer"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindIncoming">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindIncoming"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindOrder">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindPost">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindPost"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindContainer">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindContainer"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddIncomingToOrder">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddIncomingToOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteIncomingFromOrder">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:DeleteIncomingFromOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CarryOutOrder">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:CarryOutOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteOrder">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:DeleteOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddContainer">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddContainer"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateContainer">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:UpdateContainer"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddBoxContainers">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddBoxContainers"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetBoxType">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetBoxType"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetBoxCount">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetBoxCount"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GenerateTagsForContainers">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GenerateTagsForContainers"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GenerateTagsForIncomings">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GenerateTagsForIncomings"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GatherInfo">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GatherInfo"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PackingLine">
		<port name="PackingLineSoap" binding="tns:PackingLineSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://z.aplix.ru/post/ws/PackingLine.1cws"/>
		</port>
		<port name="PackingLineSoap12" binding="tns:PackingLineSoap12Binding">
			<soap12bind:address location="http://z.aplix.ru/post/ws/PackingLine.1cws"/>
		</port>
	</service>
</definitions>