app/src/main/resources/wsdl/PackingLine.1cws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.aplix.ru/PackingLine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.aplix.ru/PackingLine" name="PackingLine" targetNamespace="http://www.aplix.ru/PackingLine">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs1="http://www.aplix.ru/PackingLine" targetNamespace="http://www.aplix.ru/PackingLine" attributeFormDefault="unqualified" elementFormDefault="qualified">
			<xs:complexType name="BoxType">
				<xs:sequence>
					<xs:element name="packingSize" type="tns:PackingSize"/>
					<xs:element name="id" type="xs:string"/>
					<xs:element name="supplierName" type="xs:string"/>
					<xs:element name="cardboardGrade" type="xs:string"/>
					<xs:element name="emptyWeight" type="xs:float"/>
					<xs:element name="cost" type="xs:float"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CheckAddressResult">
				<xs:sequence>
					<xs:element name="result" type="xs:boolean"/>
					<xs:element name="msg" type="xs:string" nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Container">
				<xs:complexContent>
					<xs:extension base="tns:Tag">
						<xs:sequence>
							<xs:element name="packingSize" type="tns:PackingSize"/>
							<xs:element name="postId" type="xs:string" nillable="true"/>
							<xs:element name="boxTypeId" type="xs:string" nillable="true"/>
							<xs:element name="packingType" type="tns:PackingType"/>
							<xs:element name="totalWeight" type="xs:float"/>
							<xs:element name="date" type="xs:dateTime" nillable="true"/>
							<xs:element name="shipped" type="xs:boolean"/>
							<xs:element name="trackingId" type="xs:string" nillable="true"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Customer">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
					<xs:element name="name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Enclosure">
				<xs:sequence>
					<xs:element name="postId" type="xs:string"/>
					<xs:element name="contentDescription" type="xs:string"/>
					<xs:element name="cost" type="xs:float"/>
					<xs:element name="quantity" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Field">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="value" type="xs:string" nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FieldList">
				<xs:sequence>
					<xs:element name="items" type="tns:Field" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Incoming">
				<xs:complexContent>
					<xs:extension base="tns:Tag">
						<xs:sequence>
							<xs:element name="orderId" type="xs:string"/>
							<xs:element name="photoId" type="xs:string" nillable="true"/>
							<xs:element name="date" type="xs:dateTime" nillable="true"/>
							<xs:element name="weight" type="xs:float" nillable="true"/>
							<xs:element name="contentDescription" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Operator">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
					<xs:element name="name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Order">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
					<xs:element name="date" type="xs:dateTime"/>
					<xs:element name="customer" type="tns:Customer"/>
					<xs:element name="clientName" type="xs:string"/>
					<xs:element name="deliveryMethod" type="xs:string"/>
					<xs:element name="deliveryAddress" type="xs:string"/>
					<xs:element name="incoming" type="tns:Incoming" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="totalIncomings" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PackingSize">
				<xs:sequence>
					<xs:element name="length" type="xs:float"/>
					<xs:element name="height" type="xs:float"/>
					<xs:element name="width" type="xs:float"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="PackingType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="BOX"/>
					<xs:enumeration value="PACKET"/>
					<xs:enumeration value="PAPER"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="PaymentFlags">
				<xs:restriction base="xs:string">
					<xs:enumeration value="CASH_ON_DELIVERY"/>
					<xs:enumeration value="OTHER"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Post">
				<xs:complexContent>
					<xs:extension base="tns:Tag">
						<xs:sequence>
							<xs:element name="container" type="tns:Container"/>
							<xs:element name="enclosure" type="tns:Enclosure" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="postType" type="tns:PostType" nillable="true"/>
							<xs:element name="orderId" type="xs:string"/>
							<xs:element name="date" type="xs:dateTime" nillable="true"/>
							<xs:element name="paymentFlags" type="tns:PaymentFlags" nillable="true"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="PostType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="FIRSTCLASS"/>
					<xs:enumeration value="PARCEL"/>
					<xs:enumeration value="BOOKPOST"/>
					<xs:enumeration value="LETTER"/>
					<xs:enumeration value="EMS"/>
					<xs:enumeration value="PACKAGE"/>
					<xs:enumeration value="CDEK"/>
					<xs:enumeration value="IML"/>
					<xs:enumeration value="APLIX"/>
					<xs:enumeration value="DPD"/>
					<xs:enumeration value="FORPARCEL"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Registry">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
					<xs:element name="incoming" type="tns:Incoming" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="customer" type="tns:Customer"/>
					<xs:element name="date" type="xs:dateTime"/>
					<xs:element name="totalIncomings" type="xs:int"/>
					<xs:element name="carriedOutAndClosed" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RouteList">
				<xs:complexContent>
					<xs:extension base="tns:Tag">
						<xs:sequence>
							<xs:element name="driverName" type="xs:string"/>
							<xs:element name="date" type="xs:dateTime"/>
							<xs:element name="registry" type="tns:Registry" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="totalRegistries" type="xs:int"/>
							<xs:element name="carriedOutAndClosed" type="xs:boolean"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="StringList">
				<xs:sequence>
					<xs:element name="items" type="xs:string" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Tag">
				<xs:sequence>
					<xs:element name="id" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TagList">
				<xs:sequence>
					<xs:element name="items" type="tns:Tag" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="TagType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="INCOMING"/>
					<xs:enumeration value="ROUTELIST"/>
					<xs:enumeration value="POST"/>
					<xs:enumeration value="CONTAINER"/>
					<xs:enumeration value="UNKNOWN"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="AddBoxContainers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="boxTypeId" type="xs:string"/>
						<xs:element name="tag" type="tns:TagList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddBoxContainersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddContainer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="container" type="tns:Container"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddContainerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddIncomingToRegistry">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="registryId" type="xs:string"/>
						<xs:element name="incoming" type="tns:Incoming"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddIncomingToRegistryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CarryOutRegistry">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="registryId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CarryOutRegistryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CarryOutRouteList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="routeListId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CarryOutRouteListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteIncomingFromRegistry">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="registryId" type="xs:string"/>
						<xs:element name="incoming" type="tns:Incoming"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteIncomingFromRegistryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteRegistry">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="registryId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteRegistryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindContainer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="containerId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindContainerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Container" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindIncoming">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="incomingId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindIncomingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Incoming" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindPost">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="postId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindPostResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Post" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindRegistry">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="routeListId" type="xs:string"/>
						<xs:element name="incomingId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindRegistryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Registry" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindRouteList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="routeListId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindRouteListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:RouteList" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindTag">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tagId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FindTagResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:TagType" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GatherInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="containerId" type="xs:string"/>
						<xs:element name="field" type="tns:StringList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GatherInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:FieldList" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateTagsForContainers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="count" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateTagsForContainersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:TagList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateTagsForIncomings">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="customerCode" type="xs:string"/>
						<xs:element name="count" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GenerateTagsForIncomingsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:TagList"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBoxCount">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="boxTypeId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBoxCountResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBoxType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="boxTypeId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetBoxTypeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:BoxType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetCustomer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="customerId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetCustomerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Customer" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetOperator">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="machineId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetOperatorResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Operator" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="orderId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetOrderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Order" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRegistry">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="registryId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetRegistryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:Registry" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MarkPostAsShipped">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="containerId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MarkPostAsShippedResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetOperatorActivity">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="isActive" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetOperatorActivityResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateContainer">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="container" type="tns:Container"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateContainerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MarkAsProblem">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="containerId" type="xs:string"/>
						<xs:element name="problemStatus" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MarkAsProblemResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CheckAddress">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="containerId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CheckAddressResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="tns:CheckAddressResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StartFillingWarrantyCard">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="incomingId" type="xs:string"/>
						<xs:element name="shipmentId" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StartFillingWarrantyCardResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StopFillingWarrantyCard">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="incomingId" type="xs:string"/>
						<xs:element name="shipmentId" type="xs:string"/>
						<xs:element name="filled" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StopFillingWarrantyCardResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="AddBoxContainersRequestMessage">
		<part name="parameters" element="tns:AddBoxContainers"/>
	</message>
	<message name="AddBoxContainersResponseMessage">
		<part name="parameters" element="tns:AddBoxContainersResponse"/>
	</message>
	<message name="AddContainerRequestMessage">
		<part name="parameters" element="tns:AddContainer"/>
	</message>
	<message name="AddContainerResponseMessage">
		<part name="parameters" element="tns:AddContainerResponse"/>
	</message>
	<message name="AddIncomingToRegistryRequestMessage">
		<part name="parameters" element="tns:AddIncomingToRegistry"/>
	</message>
	<message name="AddIncomingToRegistryResponseMessage">
		<part name="parameters" element="tns:AddIncomingToRegistryResponse"/>
	</message>
	<message name="CarryOutRegistryRequestMessage">
		<part name="parameters" element="tns:CarryOutRegistry"/>
	</message>
	<message name="CarryOutRegistryResponseMessage">
		<part name="parameters" element="tns:CarryOutRegistryResponse"/>
	</message>
	<message name="CarryOutRouteListRequestMessage">
		<part name="parameters" element="tns:CarryOutRouteList"/>
	</message>
	<message name="CarryOutRouteListResponseMessage">
		<part name="parameters" element="tns:CarryOutRouteListResponse"/>
	</message>
	<message name="DeleteIncomingFromRegistryRequestMessage">
		<part name="parameters" element="tns:DeleteIncomingFromRegistry"/>
	</message>
	<message name="DeleteIncomingFromRegistryResponseMessage">
		<part name="parameters" element="tns:DeleteIncomingFromRegistryResponse"/>
	</message>
	<message name="DeleteRegistryRequestMessage">
		<part name="parameters" element="tns:DeleteRegistry"/>
	</message>
	<message name="DeleteRegistryResponseMessage">
		<part name="parameters" element="tns:DeleteRegistryResponse"/>
	</message>
	<message name="FindContainerRequestMessage">
		<part name="parameters" element="tns:FindContainer"/>
	</message>
	<message name="FindContainerResponseMessage">
		<part name="parameters" element="tns:FindContainerResponse"/>
	</message>
	<message name="FindIncomingRequestMessage">
		<part name="parameters" element="tns:FindIncoming"/>
	</message>
	<message name="FindIncomingResponseMessage">
		<part name="parameters" element="tns:FindIncomingResponse"/>
	</message>
	<message name="FindPostRequestMessage">
		<part name="parameters" element="tns:FindPost"/>
	</message>
	<message name="FindPostResponseMessage">
		<part name="parameters" element="tns:FindPostResponse"/>
	</message>
	<message name="FindRegistryRequestMessage">
		<part name="parameters" element="tns:FindRegistry"/>
	</message>
	<message name="FindRegistryResponseMessage">
		<part name="parameters" element="tns:FindRegistryResponse"/>
	</message>
	<message name="FindRouteListRequestMessage">
		<part name="parameters" element="tns:FindRouteList"/>
	</message>
	<message name="FindRouteListResponseMessage">
		<part name="parameters" element="tns:FindRouteListResponse"/>
	</message>
	<message name="FindTagRequestMessage">
		<part name="parameters" element="tns:FindTag"/>
	</message>
	<message name="FindTagResponseMessage">
		<part name="parameters" element="tns:FindTagResponse"/>
	</message>
	<message name="GatherInfoRequestMessage">
		<part name="parameters" element="tns:GatherInfo"/>
	</message>
	<message name="GatherInfoResponseMessage">
		<part name="parameters" element="tns:GatherInfoResponse"/>
	</message>
	<message name="GenerateTagsForContainersRequestMessage">
		<part name="parameters" element="tns:GenerateTagsForContainers"/>
	</message>
	<message name="GenerateTagsForContainersResponseMessage">
		<part name="parameters" element="tns:GenerateTagsForContainersResponse"/>
	</message>
	<message name="GenerateTagsForIncomingsRequestMessage">
		<part name="parameters" element="tns:GenerateTagsForIncomings"/>
	</message>
	<message name="GenerateTagsForIncomingsResponseMessage">
		<part name="parameters" element="tns:GenerateTagsForIncomingsResponse"/>
	</message>
	<message name="GetBoxCountRequestMessage">
		<part name="parameters" element="tns:GetBoxCount"/>
	</message>
	<message name="GetBoxCountResponseMessage">
		<part name="parameters" element="tns:GetBoxCountResponse"/>
	</message>
	<message name="GetBoxTypeRequestMessage">
		<part name="parameters" element="tns:GetBoxType"/>
	</message>
	<message name="GetBoxTypeResponseMessage">
		<part name="parameters" element="tns:GetBoxTypeResponse"/>
	</message>
	<message name="GetCustomerRequestMessage">
		<part name="parameters" element="tns:GetCustomer"/>
	</message>
	<message name="GetCustomerResponseMessage">
		<part name="parameters" element="tns:GetCustomerResponse"/>
	</message>
	<message name="GetOperatorRequestMessage">
		<part name="parameters" element="tns:GetOperator"/>
	</message>
	<message name="GetOperatorResponseMessage">
		<part name="parameters" element="tns:GetOperatorResponse"/>
	</message>
	<message name="GetOrderRequestMessage">
		<part name="parameters" element="tns:GetOrder"/>
	</message>
	<message name="GetOrderResponseMessage">
		<part name="parameters" element="tns:GetOrderResponse"/>
	</message>
	<message name="GetRegistryRequestMessage">
		<part name="parameters" element="tns:GetRegistry"/>
	</message>
	<message name="GetRegistryResponseMessage">
		<part name="parameters" element="tns:GetRegistryResponse"/>
	</message>
	<message name="MarkPostAsShippedRequestMessage">
		<part name="parameters" element="tns:MarkPostAsShipped"/>
	</message>
	<message name="MarkPostAsShippedResponseMessage">
		<part name="parameters" element="tns:MarkPostAsShippedResponse"/>
	</message>
	<message name="SetOperatorActivityRequestMessage">
		<part name="parameters" element="tns:SetOperatorActivity"/>
	</message>
	<message name="SetOperatorActivityResponseMessage">
		<part name="parameters" element="tns:SetOperatorActivityResponse"/>
	</message>
	<message name="UpdateContainerRequestMessage">
		<part name="parameters" element="tns:UpdateContainer"/>
	</message>
	<message name="UpdateContainerResponseMessage">
		<part name="parameters" element="tns:UpdateContainerResponse"/>
	</message>
	<message name="MarkAsProblemRequestMessage">
		<part name="parameters" element="tns:MarkAsProblem"/>
	</message>
	<message name="MarkAsProblemResponseMessage">
		<part name="parameters" element="tns:MarkAsProblemResponse"/>
	</message>
	<message name="CheckAddressRequestMessage">
		<part name="parameters" element="tns:CheckAddress"/>
	</message>
	<message name="CheckAddressResponseMessage">
		<part name="parameters" element="tns:CheckAddressResponse"/>
	</message>
	<message name="StartFillingWarrantyCardRequestMessage">
		<part name="parameters" element="tns:StartFillingWarrantyCard"/>
	</message>
	<message name="StartFillingWarrantyCardResponseMessage">
		<part name="parameters" element="tns:StartFillingWarrantyCardResponse"/>
	</message>
	<message name="StopFillingWarrantyCardRequestMessage">
		<part name="parameters" element="tns:StopFillingWarrantyCard"/>
	</message>
	<message name="StopFillingWarrantyCardResponseMessage">
		<part name="parameters" element="tns:StopFillingWarrantyCardResponse"/>
	</message>
	<portType name="PackingLinePortType">
		<operation name="AddBoxContainers">
			<input message="tns:AddBoxContainersRequestMessage"/>
			<output message="tns:AddBoxContainersResponseMessage"/>
		</operation>
		<operation name="AddContainer">
			<input message="tns:AddContainerRequestMessage"/>
			<output message="tns:AddContainerResponseMessage"/>
		</operation>
		<operation name="AddIncomingToRegistry">
			<input message="tns:AddIncomingToRegistryRequestMessage"/>
			<output message="tns:AddIncomingToRegistryResponseMessage"/>
		</operation>
		<operation name="CarryOutRegistry">
			<input message="tns:CarryOutRegistryRequestMessage"/>
			<output message="tns:CarryOutRegistryResponseMessage"/>
		</operation>
		<operation name="CarryOutRouteList">
			<input message="tns:CarryOutRouteListRequestMessage"/>
			<output message="tns:CarryOutRouteListResponseMessage"/>
		</operation>
		<operation name="DeleteIncomingFromRegistry">
			<input message="tns:DeleteIncomingFromRegistryRequestMessage"/>
			<output message="tns:DeleteIncomingFromRegistryResponseMessage"/>
		</operation>
		<operation name="DeleteRegistry">
			<input message="tns:DeleteRegistryRequestMessage"/>
			<output message="tns:DeleteRegistryResponseMessage"/>
		</operation>
		<operation name="FindContainer">
			<input message="tns:FindContainerRequestMessage"/>
			<output message="tns:FindContainerResponseMessage"/>
		</operation>
		<operation name="FindIncoming">
			<input message="tns:FindIncomingRequestMessage"/>
			<output message="tns:FindIncomingResponseMessage"/>
		</operation>
		<operation name="FindPost">
			<input message="tns:FindPostRequestMessage"/>
			<output message="tns:FindPostResponseMessage"/>
		</operation>
		<operation name="FindRegistry">
			<input message="tns:FindRegistryRequestMessage"/>
			<output message="tns:FindRegistryResponseMessage"/>
		</operation>
		<operation name="FindRouteList">
			<input message="tns:FindRouteListRequestMessage"/>
			<output message="tns:FindRouteListResponseMessage"/>
		</operation>
		<operation name="FindTag">
			<input message="tns:FindTagRequestMessage"/>
			<output message="tns:FindTagResponseMessage"/>
		</operation>
		<operation name="GatherInfo">
			<input message="tns:GatherInfoRequestMessage"/>
			<output message="tns:GatherInfoResponseMessage"/>
		</operation>
		<operation name="GenerateTagsForContainers">
			<input message="tns:GenerateTagsForContainersRequestMessage"/>
			<output message="tns:GenerateTagsForContainersResponseMessage"/>
		</operation>
		<operation name="GenerateTagsForIncomings">
			<input message="tns:GenerateTagsForIncomingsRequestMessage"/>
			<output message="tns:GenerateTagsForIncomingsResponseMessage"/>
		</operation>
		<operation name="GetBoxCount">
			<input message="tns:GetBoxCountRequestMessage"/>
			<output message="tns:GetBoxCountResponseMessage"/>
		</operation>
		<operation name="GetBoxType">
			<input message="tns:GetBoxTypeRequestMessage"/>
			<output message="tns:GetBoxTypeResponseMessage"/>
		</operation>
		<operation name="GetCustomer">
			<input message="tns:GetCustomerRequestMessage"/>
			<output message="tns:GetCustomerResponseMessage"/>
		</operation>
		<operation name="GetOperator">
			<input message="tns:GetOperatorRequestMessage"/>
			<output message="tns:GetOperatorResponseMessage"/>
		</operation>
		<operation name="GetOrder">
			<input message="tns:GetOrderRequestMessage"/>
			<output message="tns:GetOrderResponseMessage"/>
		</operation>
		<operation name="GetRegistry">
			<input message="tns:GetRegistryRequestMessage"/>
			<output message="tns:GetRegistryResponseMessage"/>
		</operation>
		<operation name="MarkPostAsShipped">
			<input message="tns:MarkPostAsShippedRequestMessage"/>
			<output message="tns:MarkPostAsShippedResponseMessage"/>
		</operation>
		<operation name="SetOperatorActivity">
			<input message="tns:SetOperatorActivityRequestMessage"/>
			<output message="tns:SetOperatorActivityResponseMessage"/>
		</operation>
		<operation name="UpdateContainer">
			<input message="tns:UpdateContainerRequestMessage"/>
			<output message="tns:UpdateContainerResponseMessage"/>
		</operation>
		<operation name="MarkAsProblem">
			<input message="tns:MarkAsProblemRequestMessage"/>
			<output message="tns:MarkAsProblemResponseMessage"/>
		</operation>
		<operation name="CheckAddress">
			<input message="tns:CheckAddressRequestMessage"/>
			<output message="tns:CheckAddressResponseMessage"/>
		</operation>
		<operation name="StartFillingWarrantyCard">
			<input message="tns:StartFillingWarrantyCardRequestMessage"/>
			<output message="tns:StartFillingWarrantyCardResponseMessage"/>
		</operation>
		<operation name="StopFillingWarrantyCard">
			<input message="tns:StopFillingWarrantyCardRequestMessage"/>
			<output message="tns:StopFillingWarrantyCardResponseMessage"/>
		</operation>
	</portType>
	<binding name="PackingLineSoapBinding" type="tns:PackingLinePortType">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AddBoxContainers">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddBoxContainers"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddContainer">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddContainer"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddIncomingToRegistry">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddIncomingToRegistry"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CarryOutRegistry">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:CarryOutRegistry"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CarryOutRouteList">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:CarryOutRouteList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteIncomingFromRegistry">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:DeleteIncomingFromRegistry"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteRegistry">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:DeleteRegistry"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindContainer">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindContainer"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindIncoming">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindIncoming"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindPost">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindPost"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindRegistry">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindRegistry"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindRouteList">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindRouteList"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindTag">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindTag"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GatherInfo">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GatherInfo"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GenerateTagsForContainers">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GenerateTagsForContainers"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GenerateTagsForIncomings">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GenerateTagsForIncomings"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetBoxCount">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetBoxCount"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetBoxType">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetBoxType"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCustomer">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetCustomer"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOperator">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetOperator"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrder">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetRegistry">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetRegistry"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="MarkPostAsShipped">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:MarkPostAsShipped"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetOperatorActivity">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:SetOperatorActivity"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateContainer">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:UpdateContainer"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="MarkAsProblem">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:MarkAsProblem"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CheckAddress">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:CheckAddress"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="StartFillingWarrantyCard">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:StartFillingWarrantyCard"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="StopFillingWarrantyCard">
			<soapbind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:StopFillingWarrantyCard"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="PackingLineSoap12Binding" type="tns:PackingLinePortType">
		<soap12bind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AddBoxContainers">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddBoxContainers"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddContainer">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddContainer"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="AddIncomingToRegistry">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:AddIncomingToRegistry"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CarryOutRegistry">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:CarryOutRegistry"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CarryOutRouteList">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:CarryOutRouteList"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteIncomingFromRegistry">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:DeleteIncomingFromRegistry"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteRegistry">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:DeleteRegistry"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindContainer">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindContainer"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindIncoming">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindIncoming"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindPost">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindPost"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindRegistry">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindRegistry"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindRouteList">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindRouteList"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="FindTag">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:FindTag"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GatherInfo">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GatherInfo"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GenerateTagsForContainers">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GenerateTagsForContainers"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GenerateTagsForIncomings">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GenerateTagsForIncomings"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetBoxCount">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetBoxCount"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetBoxType">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetBoxType"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetCustomer">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetCustomer"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOperator">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetOperator"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetOrder">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetRegistry">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:GetRegistry"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="MarkPostAsShipped">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:MarkPostAsShipped"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="SetOperatorActivity">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:SetOperatorActivity"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateContainer">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:UpdateContainer"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="MarkAsProblem">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:MarkAsProblem"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CheckAddress">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:CheckAddress"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="StartFillingWarrantyCard">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:StartFillingWarrantyCard"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="StopFillingWarrantyCard">
			<soap12bind:operation style="document" soapAction="http://www.aplix.ru/PackingLine#PackingLine:StopFillingWarrantyCard"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PackingLine">
		<port name="PackingLineSoap" binding="tns:PackingLineSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://z.aplix.ru/post/ws/PackingLine.1cws"/>
		</port>
		<port name="PackingLineSoap12" binding="tns:PackingLineSoap12Binding">
			<soap12bind:address location="http://z.aplix.ru/post/ws/PackingLine.1cws"/>
		</port>
	</service>
</definitions>