app/src/main/resources/wsdl/PackingLine.1cws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.aplix.ru/PackingLine/1.0/ws"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:model="http://www.aplix.ru/PackingLine/1.0/ws/model" xmlns:msg="http://www.aplix.ru/PackingLine/1.0/ws/messages"
	name="PackingLine" targetNamespace="http://www.aplix.ru/PackingLine/1.0/ws">

	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.aplix.ru/PackingLine/1.0/ws/model" schemaLocation="PackingLine.1cws_schema1.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://www.aplix.ru/PackingLine/1.0/ws/messages" schemaLocation="PackingLine.1cws_schema2.xsd" />
		</xsd:schema>
	</types>

	<message name="GetOperatorRequest">
		<part name="parameters" element="msg:GetOperator"></part>
	</message>
	<message name="GetOperatorResponse">
		<part name="parameters" element="msg:GetOperatorResponse"></part>
	</message>
	<message name="GetCustomerRequest">
		<part name="parameters" element="msg:GetCustomer"></part>
	</message>
	<message name="GetCustomerResponse">
		<part name="parameters" element="msg:GetCustomerResponse"></part>
	</message>
	<message name="SetOperatorActivityRequest">
		<part name="parameters" element="msg:SetOperatorActivity"></part>
	</message>
	<message name="FindTagRequest">
		<part name="parameters" element="msg:FindTag"></part>
	</message>
	<message name="FindTagResponse">
		<part name="parameters" element="msg:FindTagResponse"></part>
	</message>
	<message name="AddIncomingToOrderRequest">
		<part name="parameters" element="msg:AddIncomingToOrder"></part>
	</message>
	<message name="AddIncomingToOrderResponse">
		<part name="parameters" element="msg:AddIncomingToOrderResponse"></part>
	</message>
	<message name="DeleteIncomingFromOrderRequest">
		<part name="parameters" element="msg:DeleteIncomingFromOrder"></part>
	</message>
	<message name="DeleteIncomingFromOrderResponse">
		<part name="parameters" element="msg:DeleteIncomingFromOrderResponse"></part>
	</message>
	<message name="CarryOutOrderRequest">
		<part name="parameters" element="msg:CarryOutOrder"></part>
	</message>
	<message name="CarryOutOrderResponse">
		<part name="parameters" element="msg:CarryOutOrderResponse"></part>
	</message>
	<message name="DeleteOrderRequest">
		<part name="parameters" element="msg:DeleteOrder"></part>
	</message>
	<message name="DeleteOrderResponse">
		<part name="parameters" element="msg:DeleteOrderResponse"></part>
	</message>
	<message name="AddContainerRequest">
		<part name="parameters" element="msg:AddContainer"></part>
	</message>
	<message name="AddContainerResponse">
		<part name="parameters" element="msg:AddContainerResponse"></part>
	</message>
	<message name="UpdateContainerRequest">
		<part name="parameters" element="msg:UpdateContainer"></part>
	</message>
	<message name="UpdateContainerResponse">
		<part name="parameters" element="msg:UpdateContainerResponse"></part>
	</message>
	<message name="AddBoxContainersRequest">
		<part name="parameters" element="msg:AddBoxContainers"></part>
	</message>
	<message name="AddBoxContainersResponse">
		<part name="parameters" element="msg:AddBoxContainersResponse"></part>
	</message>
	<message name="GetBoxTypeRequest">
		<part name="parameters" element="msg:GetBoxType"></part>
	</message>
	<message name="GetBoxTypeResponse">
		<part name="parameters" element="msg:GetBoxTypeResponse"></part>
	</message>
	<message name="GetBoxCountRequest">
		<part name="parameters" element="msg:GetBoxCount"></part>
	</message>
	<message name="GetBoxCountResponse">
		<part name="parameters" element="msg:GetBoxCountResponse"></part>
	</message>
	<message name="GenerateTagsForContainersRequest">
		<part name="parameters" element="msg:GenerateTagsForContainers"></part>
	</message>
	<message name="GenerateTagsForContainersResponse">
		<part name="parameters" element="msg:GenerateTagsForContainersResponse"></part>
	</message>
	<message name="GenerateTagsForIncomingsRequest">
		<part name="parameters" element="msg:GenerateTagsForIncomings"></part>
	</message>
	<message name="GenerateTagsForIncomingsResponse">
		<part name="parameters" element="msg:GenerateTagsForIncomingsResponse"></part>
	</message>
	<message name="GatherInfoRequest">
		<part name="parameters" element="msg:GatherInfo"></part>
	</message>
	<message name="GatherInfoResponse">
		<part name="parameters" element="msg:GatherInfoResponse"></part>
	</message>

	<portType name="PackingLinePortType">
		<documentation>Основной порт веб-сервиса, способный выполнять следующие операции</documentation>

		<operation name="GetOperator">
			<documentation>Возвращает фамилию и инициалы оператора, который вошел в систему</documentation>			<input message="tns:GetOperatorRequest"></input>			<output message="tns:GetOperatorResponse" />
		</operation>

		<operation name="GetCustomer">
			<documentation>Возвращает фамилию и инициалы заказчика</documentation>
			<input message="tns:GetCustomerRequest"></input>
			<output message="tns:GetCustomerResponse" />
		</operation>

		<operation name="SetOperatorActivity">
			<documentation>Отмечает текущее время как рабочее или время простоя. Программа упаковочной лини должна вызывать этот метод каждые 5 мин после входа оператора
				в систему, чтобы подтвердить присутствие на рабочем месте. Если вызов пропущен по причины сбоя программы или недоступности сервиса, то статус оператора
				должен переключиться на &quot;простой&quot; автоматически.</documentation>
			<input message="tns:SetOperatorActivityRequest"></input>		</operation>

		<operation name="FindTag">
			<documentation>По заданному идентификатору находит и возвращает объект: Поступление, Заказ, Отправление, Контейнер.</documentation>			<input message="tns:FindTagRequest"></input>			<output message="tns:FindTagResponse"></output>
		</operation>

		<operation name="AddIncomingToOrder">
			<documentation>Добавляет поступление в спискок поступлений заказа</documentation>
			<input message="tns:AddIncomingToOrderRequest"></input>
			<output message="tns:AddIncomingToOrderResponse"></output>
		</operation>

		<operation name="DeleteIncomingFromOrder">
			<documentation>Удаляет поступление из списка поступлений заказа</documentation>
			<input message="tns:DeleteIncomingFromOrderRequest"></input>
			<output message="tns:DeleteIncomingFromOrderResponse"></output>
		</operation>

		<operation name="CarryOutOrder">
			<documentation>Проводит и сохраняет заказ (акт)</documentation>
			<input message="tns:CarryOutOrderRequest"></input>
			<output message="tns:CarryOutOrderResponse"></output>
		</operation>

		<operation name="DeleteOrder">
			<documentation>Удаляет заказ из системы</documentation>
			<input message="tns:DeleteOrderRequest"></input>
			<output message="tns:DeleteOrderResponse"></output>
		</operation>

		<operation name="AddContainer">
			<documentation>Добавляет новый контейнер к отправлению</documentation>
			<input message="tns:AddContainerRequest"></input>
			<output message="tns:AddContainerResponse"></output>
		</operation>

		<operation name="UpdateContainer">
			<documentation>Обновляет параметры контейнера</documentation>
			<input message="tns:UpdateContainerRequest"></input>
			<output message="tns:UpdateContainerResponse"></output>
		</operation>

		<operation name="AddBoxContainers">
			<documentation>Сопоставляет размеры коробки со спиком штрих кодов</documentation>
			<input message="tns:AddBoxContainersRequest"></input>
			<output message="tns:AddBoxContainersResponse"></output>
		</operation>

		<operation name="GetBoxType">
			<documentation>Возвращает размеры коробки по штрих коду</documentation>
			<input message="tns:GetBoxTypeRequest"></input>
			<output message="tns:GetBoxTypeResponse"></output>
		</operation>

		<operation name="GetBoxCount">
			<documentation>Возвращает количество коробок заданного размера в зоне упаковки</documentation>
			<input message="tns:GetBoxCountRequest"></input>
			<output message="tns:GetBoxCountResponse"></output>
		</operation>

		<operation name="GenerateTagsForContainers">
			<documentation>Генерирует маркеры для резерва контейнеров</documentation>
			<input message="tns:GenerateTagsForContainersRequest"></input>
			<output message="tns:GenerateTagsForContainersResponse"></output>
		</operation>

		<operation name="GenerateTagsForIncomings">
			<documentation>Генерирует маркеры для новых поступлений</documentation>
			<input message="tns:GenerateTagsForIncomingsRequest"></input>
			<output message="tns:GenerateTagsForIncomingsResponse"></output>
		</operation>

		<operation name="GatherInfo">
			<documentation>Возвращает данные для печати форм и этикеток</documentation>
			<input message="tns:GatherInfoRequest"></input>
			<output message="tns:GatherInfoResponse"></output>
		</operation>
	</portType>

	<binding name="PackingLineSoapBinding" type="tns:PackingLinePortType">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="GetOperator">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/GetOperator" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="GetCustomer">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/GetCustomer" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="SetOperatorActivity">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/SetOperatorActivity" />
			<input>
				<soapbind:body use="literal" />
			</input>
		</operation>
		<operation name="FindTag">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/FindTag" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="AddIncomingToOrder">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/AddIncomingToOrder" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="DeleteIncomingFromOrder">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/DeleteIncomingFromOrder" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="CarryOutOrder">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/CarryOutOrder" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="DeleteOrder">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/DeleteOrder" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="AddContainer">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/AddContainer" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="UpdateContainer">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/UpdateContainer" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="AddBoxContainers">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/AddBoxContainers" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="GetBoxType">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/GetBoxType" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="GetBoxCount">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/GetBoxCount" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="GenerateTagsForContainers">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/GenerateTagsForContainers" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="GenerateTagsForIncomings">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/GenerateTagsForIncomings" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
		<operation name="GatherInfo">
			<soapbind:operation soapAction="http://www.aplix.ru/PackingLine/1.0/ws/GatherInfo" />
			<input>
				<soapbind:body use="literal" />
			</input>
			<output>
				<soapbind:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="PackingLine">
		<documentation>Сервис обеспечивает взаимодействие программы упаковочной линии с удаленным операционным центром, отвечающим за обработку почты и обмен с
			корневой системой управления предприятием. Веб-сервис доступен только после аутентификации пользователя, которая оуществляется по методу HTTP Basic
			authentication (BA), т.е. клиент предоставляется имя пользователя (логин) и пароль в заголовке HTTP запроса.
		</documentation>
		<port name="PackingLineSoap" binding="tns:PackingLineSoapBinding">
			<documentation>
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
			</documentation>
			<soapbind:address location="http://localhost/post/ws/PackingLine.1cws" />
		</port>	</service>

</definitions>